/*
.centering
{
  margin: 0 auto;
  font-family: 'Zwizz_Bold', serif;
  font-size: 3rem;
}


.block{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: center;

  /*border-style: solid;
  border-color: red;
  border-width: thin;
  text-align: center;
  align-items: center;
}

.leftfloat{
    float: left;
}*/

/*

.rightfloat{
  float: right;
}


.pair{
/*  border-style: solid;
  border-color: blue;
  border-width: thin;
  height: 40vh;
  width: 60vw;
  margin: 0 auto;
}*/

/*
@media (max-width: 860px)
{
  .leftfloat{
    float: none;
  }
  .rightfloat{
    float: none;
  }

  .pair{
    border-style: solid;
    border-color: blue;
    border-width: thin;
    height: 30vh;
  }


  .tnail{
    height: 100%
  }


  .under
  {
    display: inline-block;
    height: 80%;
    width: 100%;

  }

  .over
  {
    display: inline-block;
    height: 20%;
    width: 100%;

  }
}
*/


.listrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  max-width: 60vw; /*size*/
  margin: 0px auto;
  padding-bottom: 5%;
}

.listcol {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.text{
  font-family: 'Zwizz_Bold', serif;
  font-size: 2.4rem;
  color: black;
  width: 100%;
}

.rect{
  position: relative;
  display: inline-block;
}

.text-box {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.tnail{
  display: block;
  max-width: 100%;
  height: auto;
}

.rect {
  opacity: 0.5;
  text-shadow: 2px 2px white;
}

.rect:hover{
  opacity: 1;
  transition-duration: 0.5s;
}
.text:hover{
  color: black;
}

@media (max-width: 1100px)
{
  .text{
    font-size: 1.8rem;
  }


}


@media (max-width: 730px)
{
  .listcol {
    flex: 100%;
    max-width: 100%;
    padding: 0 0px;
  }

  .listrow {
    max-width: 90vw;
    padding: 0;
    margin: 0;
  }

  .tnail {
    max-height: 100%;
    width: auto;
  }
}

.title{
  font-weight: 200;
  font-family: 'Zwizz_Regular', serif;
  text-align: center;
  text-transform: lowercase;
}

.item{
  max-width: 40rem;
  margin: 0 auto;
  margin-right: 30%;
}

@media (max-width: 900px)
{
  .item{
  margin-right: 25%}
}

@media (max-width: 750px)
{
  .item{
  margin-right: 20%}
}

@media (max-width: 600px)
{
  .item{
  margin-right: 15%}
}
